@* ! SAYFADAKİ RENKLER GRABİENT SİTESİNDEN AYARLANDIO *@
@* ! SAYFADA SABİT FONT YOK BİLAL BEYDEN SONRA TEKRAR BAK *@
@* ! BOŞ GİRİLDİĞİNDE ALERT UYARI VERİYOR SADECE NUMARA YERİNE RAKAM HARF YERİNE SADECE HARF GİRİLİYOR. *@

<h3 class="text-center m-5">Online Ödeme Noktası</h3>
<div class="container">

    <div class="card-container">
        <div class="front">
            <div class="image">
                <img src="~/image/chip.png" alt="sorun" />
                <img src="~/image/visa.png" alt="sorun" />
            </div>
            <div class="card-number-box">#### #### #### ####</div>
            <div class="flexbox">
                <div class="box">
                    <label for="type">Ad Soyad</label>
                    <div class="card-holder-name"></div>
                </div>
                <div class="box">
                    <span>Son Kullanma Tarihi</span>
                    <div class="expiration">
                        <span class="exp-month"></span>
                        <span class="exp-year"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="back">
            <div class="stripe"></div>
            <div class="box">
                <span>cvv</span>
                <div class="cvv-box"></div>
                <img src="~/image/visa.png" alt="sorun" />
            </div>
        </div>
    </div>
    <form action="">
        <div class="inputBox">
            <span class="text-uppercase">KART NUMARASI</span>
            <input type="number" id="card-number-input" maxlength="16" class="card-number-input"
                oninput="validateInput(this)">

        </div>
        <div class="inputBox">
            <span class="text-uppercase">Ad Soyad</span>
            <input type="text" id="card-holder-input" maxlength="20" class="card-holder-input"
                oninput="validateInput(this)" />
        </div>


        <div class="flexbox">
            <div class="inputBox">
                <span class="text-uppercase">AY</span>
                <select name="" id="" class="month-input">
                    <option value="month" selected disabled>AY</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
            <div class="inputBox">
                <span>YIL</span>
                <select name="" id="" class="year-input">
                    <option value="year" selected disabled>YIL</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                    <option value="2029">2029</option>
                    <option value="2030">2030</option>
                </select>
            </div>
            <div class="inputBox">
                <span>CVV</span>
                <input type="number" maxlength="3" class="cvv-input" />
            </div>
        </div>
        <form action="">
            <input type="button" value="Ödemeyi Gerçekleştir   " class="submit-btn" onclick="validateForm()" />
        </form>
    </form>
</div>

@section Css{
    <style>
        .container {
            background: #eee;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            padding-bottom: 60px;
            border-radius: 15px;
        }

        .container form {
            background: #fff;
            border-radius: 5px;
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 600px;
            padding-top: 160px;
        }

        .container form .inputBox {
            margin-top: 20px;
        }

        .container form .inputBox span {
            display: block;
            color: #999;
            padding-bottom: 5px;
        }

        .container form .inputBox input,
        .container form .inputBox select {
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid rgba(0, 0, 0, 0.3);
            color: #444;
        }

        .container form .flexbox {
            display: flex;
            gap: 15px;
        }

        .container form .flexbox .inputBox {
            flex: 1 1 150px;
        }

        .container form .submit-btn {
            width: 100%;
            background-color: #74EBD5;
            background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
            margin-top: 20px;
            padding: 10px;
            font-size: 20px;
            color: #fff;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.2s linear;
        }

        .container form .submit-btn:hover {
            letter-spacing: 1px;
            opacity: 0.8;
            color: black;
        }

        .container .card-container {
            margin-bottom: -150px;
            position: relative;
            height: 250px;
            width: 400px;
        }

        .container .card-container .front {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background-color: #74EBD5;
            background-color: #FA8BFF;
            background-image: linear-gradient(135deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
            border-radius: 5px;
            backface-visibility: hidden;
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
            padding: 20px;
            transform: perspective(1000px) rotateY(0deg);
            transition: transform 0.4s ease-out;
        }

        .container .card-container .front .image {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 10px;
        }

        .container .card-container .front .image img {
            height: 50px;
        }

        .container .card-container .front .card-number-box {
            padding: 30px 0;
            font-size: 22px;
            color: #fff;
        }

        .container .card-container .front .flexbox {
            display: flex;
        }

        .container .card-container .front .flexbox .box:nth-child(1) {
            margin-right: auto;
        }

        .container .card-container .front .flexbox .box {
            font-size: 15px;
            color: #fff;
        }

        .container .card-container .back {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-image: linear-gradient(135deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
            border-radius: 5px;
            padding: 20px 0;
            text-align: right;
            backface-visibility: hidden;
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
            transform: perspective(1000px) rotateY(180deg);
            transition: transform 0.4s ease-out;
        }

        .container .card-container .back .stripe {
            background: #000;
            width: 100%;
            margin: 10px 0;
            height: 50px;
        }

        .container .card-container .back .box {
            padding: 0 20px;
        }

        .container .card-container .back .box span {
            color: #fff;
            font-size: 15px;
        }

        .container .card-container .back .box .cvv-box {
            height: 50px;
            padding: 10px;
            margin-top: 5px;
            color: #333;
            background: #fff;
            border-radius: 5px;
            width: 100%;
        }

        .container .card-container .back .box img {
            margin-top: 30px;
            height: 30px;
        }

        (max-width: 500px) {
            .container form {
                width: 50%;
                padding-top: 100px;
            }
    </style>
}
}